{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}

    <div class="background-index">
<div class="background-index-center">

<div class="background-index-right reset-password">
        <div class="content-block">

<p class="title-block">{% trans "Social Network Login Failure" %}</p>
<div class="settings-input">

<p class="phone-block">{% trans "An error occurred while attempting to login via your social network account." %}</p>
<br>


<p class="text-pre-button"><a href="/accounts/login/" >Войти другим способом</a></p>





    </div></div></div>



</div>
</div>
    
{% endblock %}
