{% extends "socialaccount/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}


    <div class="background-index">
<div class="background-index-center">

<div class="background-index-right reset-password">
        <div class="content-block">

<p class="title-block">{% trans "Login Cancelled" %}</p>
<div class="settings-input">

{% url 'account_login' as login_url %}

<p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p><br>


<p class="text-pre-button"><a href="/accounts/login/" >Войти другим способом</a></p>





    </div></div></div>



</div>
</div>



{% endblock %}


