{% extends "socialaccount/base.html" %}
{% load url from future %}

{% load i18n %}

{% block head_title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}

<div class="background-index">
<div class="background-index-center">

<div class="background-index-right reset-password">
        <div class="content-block">

<p class="title-block">{% trans "Sign Up" %}</p>
<div class="settings-input">


<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
    Вы собираетесь использовать свой аккаунт на {{provider_name}} для входа на {{site_name}}. В качестве последнего шага, введите свой email:
{% endblocktrans %}</p>
<br>



    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <input type="submit" class="bt-login-register" value="{% trans "Sign Up" %}"/>
</form>



    </div></div></div>



</div>
</div>



{% endblock %}

