{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="background-index">
<div class="background-index-center">

<div class="background-index-right reset-password done">
        <div class="content-block">

<p class="title-block">{% trans "Password Reset" %}</p>
<div class="settings-input">

<p class="phone-block">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
<br>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


<p class="text-pre-button"><a href="/accounts/login/" >Назад</a></p>





    </div></div></div>



</div>
</div>
    

{% endblock %}
