{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="background-index">
<div class="background-index-center">

<div class="background-index-right reset-password">
        <div class="content-block">

<p class="title-block">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</p>
<div class="settings-input">

{% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="bt-login-register" name="action" value="{% trans "change password" %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}


<p class="text-pre-button"><a href="/accounts/login/" >Отмена</a></p>





    </div></div></div>



</div>
</div>
{% endblock %}
