{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

  <div class="background-index">
<div class="background-index-center">

<div class="background-index-right reset-password done">
        <div class="content-block">

<p class="title-block">{% trans "Change Password" %}</p>
<div class="settings-input">

<p class="phone-block" style="text-align: center">{% trans 'Your password is now changed.' %}</p>
<br>


<p class="text-pre-button"><a href="/accounts/login/" >Войти</a></p>

    </div></div></div>



</div>
</div>


{% endblock %}
