{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="background-index">
<div class="background-index-center">

<div class="background-index-right reset-password">
        <div class="content-block">

<p class="title-block">{% trans "Password Reset" %}</p>
<div class="settings-input">

<p class="phone-block">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<br>


    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="bt-login-register" value="{% trans "Reset My Password" %}" />
    </form>




    <p class="last-about">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p><br>
<p class="text-pre-button"><a href="/accounts/login/" >Назад</a></p>





    </div></div></div>



</div>
</div>


{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
