{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}



{% block content %}


<div class="windiw-info-block processing rules">    
    <p>Отправлено на обработку</p>
    <p class="text-for-window more-tr processing">
        Фотографии отправлены на обработку.<br>
        Teleport определит где можуно купить отмеченные вещи.<br><br>


        Затем отправит вам на <b>{{ user.email }}</b> ссылку для публикции



    </p>
    <a href="#" class="button-general bt-ok-rules">ok</a>
</div>




<div class="background-index">
<div class="background-index-center">
    <div class="background-index-left">
         <p class="title-block">Регистрируйтесь</p>
        <p class="green-style lower">И вы узнаете где купить:</p>


            <p class="about-g">- Платье, как у <span>С. Йоханссон</span></p>
         <p class="about-g">- Очки, как у <span>В. Жириновского</span></p>
            <p class="about-g">- Украшения, как у <span>В. Брежневой</span> </p>
        </br></br>
        <p class="green-style">Лучшие Артисты. Лучшие бренды</p>



    </div>
    <div class="background-index-right">
        <div class="content-block">

<p class="title-block">Зарегистрируйтесь через</p>
<div class="settings-input">


    <div class="social-bt">
    {% if socialaccount.providers  %}

    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

    {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}
    </div>

    <form action="{% url 'account_signup' %}" method="POST" >
         {% csrf_token %}

            {% if register_error %}
                <p class="error-text">{{ register_error }}</p> 
            {% endif %}

            {% if form.non_field_errors %}
                <p class="error-text">{{ form.non_field_errors }}</p> 
            {% endif %}

            {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}


    <label>Email</label>
    {{ form.email|attr:"id:email" }}
    {{ form.email.errors }}


    <label>Пароль</label>
    {{ form.password1|attr:"id:password" }}
     <p class="error-text">{{ form.password1.errors }}</p>    
    {{ form.password2|attr:"id:password2"|attr:"placeholder:Повторите пароль" }}    
    <p class="error-text">{{ form.password2.errors }}</p>


    
    {{ form.sex|attr:"id:sex_value" }}
    
    
    <input class="bt-login-register signup-bt" type="submit"  value="регистрация" />
    <p class="text-with-button"><a href="{{ login_url }}">Войти</a></p>

    <p class="text-agreement page-signup">Регистрируясь вы принимаете <a href="#" class="goods-rules">Условия предоставления услуг</a> и <a href="#" class="politic-rules">Политику конфиденциальности</a> Teleport</p>
    </form>

    

    </div>    
    </div>

    </div>
<div class ="about-teleport ">
    <p class="title-block index-page">Получайте вещи, аксессуары  из видео и фотографий</p>
    <p class="phone-block">
        Teleport это быстрый способ купить любую вещь из фотографии или видео.
Нравятся часы героя из фильма?  - пару секунд и вы узнаете бренд, цену и сможете их купить.
Понравились джинсы из клипа? Шарф на фотографии instagram или vk? - за два клика вы узнаете все о них и также сможете приобрести. Кроме оригинальных вещей, Телепорт находит и похожие образы.<br><br>




    </p>
    <p class="last-about">Получайте что нравится, прямо во время просмотра видео и фотографий</p>


</div>
<div class="applink">
    <a href="/partner_signup/">Регистрация для партнеров</a>
</div>

</div>
</div>

{% endblock %}


