{% extends 'index.html' %}

{% block scripts %}
<script src="/media/scripts/highcharts.js"></script>
<script>

/*
* Всего:
* 1. График посещений (Каждый день. Начиная с самого первого дня.)
*
* 2. График кликов
* 3. График социальных сетей
*
* Сегодня:
* 1. График посещений (Каждую минуту - старт текущие сутки)
* 2. График кликов
* 3. График социальных сетей
*
* Неделя:
* 1. График посещений (Каждый час. Старт Текущая неделя)
* 2. График кликов
* 3. График социальных сетей
*
* Месяц:
* 1. График посещений (Каждую минуту)
* 2. График кликов
* 3. График социальных сетей
*
*
*
* */



$(document).ready(function(){




$(function () {
    var now = new Date().getTime();
var minute_for_view = parseInt(now) - (1500*60*1000);
//var for_chart_views = new Date(minute_for_view)
//alert(for_chart_views);
    $('#container').highcharts({
        chart: {
            zoomType: 'x',
        },
        title: {
           text: false
        },
        subtitle: {
            text: false
        },
        xAxis: {
            type: 'datetime',
            minRange: 1 * 24 * 3600 // fourteen days
        },
        yAxis: {
            title: {
                text: false
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,

                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Посещения',
            pointInterval: 60 * 1000,
            pointStart: minute_for_view,
            data: {{for_chart_view}}
        }]
    });

	$('#container1').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
           text: false
        },
        subtitle: {
            text: false
        },
        xAxis: {
            type: 'datetime',
            minRange: 14 * 24 * 3600000 // fourteen days
        },
        yAxis: {
            title: {
                text: false
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Клики',
            pointInterval: 24 * 3600 * 1000,
            pointStart: for_chart_views,
            data: []
        }]
    });

$(function () {

    // Make monochrome colors and set them as default for all pies
    Highcharts.getOptions().plotOptions.pie.colors = (function () {
        var colors = [],
            base = Highcharts.getOptions().colors[0],
            i;

        for (i = 0; i < 10; i += 1) {
            // Start out with a darkened base color (negative brighten), and end
            // up with a much brighter color
            colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
        }
        return colors;
    }());

    // Build the chart
    $('#container2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: false
        },
        tooltip: {
            pointFormat: '{series.name}: {point.percentage:.1f}%'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || '#5b5b5b'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Посещения',
            data: [
                ['Instagram',   45.0],
                ['Facebook',       26.0],
                ['Youtube',    21.5],
                ['Vk.com',     10.5],
                ['Odnoklassniki',   4.0],
                ['Другие',   3.0]
            ]
        }]
    });
});

});

});
</script>
{% endblock %}

{% block content %}

<div class="windiw-info-block">
    <p class="text-for-window">Удалить метку навсегда?</p>
    <div class="button-additional bt-no">нет</div>
    <div class="button-general bt-yes">да</div>
    
    <p>Product Placement</p>
    <p class="text-for-window more-tr">
        Существует два главных класса мантр. Первый класс включает в себя мантры, требующие передачи-посвящения от лица, осуществившего в своей практике силу мантры и испытавшего ее результаты. <…> Второй, как считается, производит результаты вне зависимости от такой передачи.

В этом случае важно тщательно воспроизводить звучание. Важнейшая краткая индуистская мантра — Ом
    </p>
    <div class="button-general bt-ok">ok</div>

    <label>Название бренда</label>
    <input type="text"/>
    <div class="button-general bt-yes">сохранить</div>
    <div class="button-additional bt-no">отмена</div>
    <div class="menu-item-block delete-bt-color">               
        <svg class="menu-item-block-svg" viewBox="0 0 24 24">
            <use xlink:href="#delete" ></use>
        </svg>
    </div>
    


</div>

<div class="content-block">
<p class="title-block analytics-page">Статистика вашей страницы</p>
<a href="/{{user.username}}" class="page-user-link-for-analytics" target="_blank" >http://teleport.ink/{{user.username}}</a>


<div class="analytics-money-block">
    <div class="analytics-money-block-left">
        
        <p class="analytics-money-count">{% if get_money != '0' %}{{ get_money.money }}{% else %}0{% endif %}<span> руб.</span></p>
        <p class="analytics-text-about">Готовы к снятию</p> 
    </div>
    <div class="analytics-money-block-right">
        <div class="button-general get-money next-link">Вывести деньги</div>
        <a href="/faq" class="next-link">FAQ по разделу</a>
    </div>
</div>

<div class="general-analytics-page">
    
    <div class="datepick-block">
        <div class="button-general datepick-block-bt">сегодня</div>
        <div class="button-general datepick-block-bt">За Неделю</div>
        <div class="button-general datepick-block-bt">За месяц</div>
        <div class="button-general datepick-block-bt">всего</div>
    </div>
    <div class="revenue-block">
        <div class="revenue-block-left">
            <p>Общий доход:</p>
            <p>Product placement:</p>
            <p>Доход с кликов:</p><br>
            <p>Просмотров:</p>
            <p>Кликов:</p><br>
            <p>Подписчиков:</p>
        </div>
        <div class="revenue-block-right">
            <p>{{ income_all }}<span> руб.</span></p>
            <p>{{ income_pp }} <span> руб.</span></p>
            <p>{{ income_cpa }}<span> руб.</span></p><br>
            <p>{{ count_all_views }}</p>
            <p>{{ count_click_tag }}</p><br>
            <p>{{ count_subs }}</p>

        </div>
        
    </div>

    

    <div class="revenue-block background-color-title">
        <div class="revenue-block-left">
            <p class="title-revenue-block">Просмотров:</p>
        </div>
        <div class="revenue-block-right">
            <p class="title-revenue-block">{{ count_all_views }}</p>
        </div>
        
    </div>

</div>
<div id="container" class="charts-style-revenue"></div>
<div class="revenue-block  background-color-title">
        <div class="revenue-block-left">
            <p class="title-revenue-block">Источники </p>
            
        </div>
        <div class="revenue-block-right">
            <p class="title-revenue-block">посещений</p>
        </div>
        
    </div>
<div id="container2" class="charts-style-revenue"></div>
<div class="revenue-block background-color-title">
        <div class="revenue-block-left">
            <p class="title-revenue-block">Клики:</p>
        </div>
        <div class="revenue-block-right">
            <p class="title-revenue-block">{{ count_click_tag }}</p>
        </div>
        
</div>
<div class="analytics-block-text-general">
        <p>Доход с одного клика: <span>{{ click_rate }} руб.</span></p>
</div>
<div id="container1" class="charts-style-revenue"></div>


<div class="table-analytics-post" >
                <table >
                    <tr>
                        <td>
                            Фото/Видео
                        </td>
                        <td >
                            Просмотры
                        </td>
                        <td>
                            Клики
                        </td>
                        <td>
                            Доход
                        </td>
                    </tr>
                    {% for item in list_item %}
                    <tr>
                        <td class="align-center-yes">
                            <a href="/{{ item.id }}" target="_blank">{{ item.id }}</a>
                        </td>
                        <td>
                            <span>Всего: {{ item.all }} </span><br>
                            Vk.com: {{ item.vk }}<br>
                            Facebook: {{ item.facebook }}<br>
                            Youtube: {{ item.youtube }}<br>
                            Odnoklassniki: {{ item.odnoklass }}<br>
                            Instagram: {{ item.instagram }}<br>
                            Другие: {{ item.other }}<br>
                        </td>
                        <td class="align-center-yes">
                            {{ item.all_click }}
                        </td>
                        <td class="align-center-yes">
                            {{ item.income }} руб.
                        </td>
                    </tr>
                    {% endfor %}

                    
                </table>
            </div>    
</div>

<div class="footer"></div>
{% include 'panel.html' %}

{% endblock %}

























