{% extends 'index.html' %}

{% block scripts %}
<script src="/media/scripts/highcharts.js"></script>
<script>

$(document).ready(function(){

$(document).on('click','.click_money',function(){
    
    $('.background-window').show(0);
    $('.windiw-info-block').show(0);
});

$(document).on('click','.button-additional.bt-no',function(){
    
    $('.background-window').hide(0);
    $('.windiw-info-block').hide(0);
});


$(document).on('click','.button-general.bt-yes',function(){
    

        $.ajax({
                    url: "/send_email_money/",
                    type: "POST",
                    dataType:"html",
                    data: {
                        "money": {% if get_money != '0' %}{{ get_money.money }}{% else %}0{% endif %}  


                                            },
                    error: function() {
                        alert('Ошибка получения запроса');
                    },

                    success: function(data) {

                        $('.button-general.bt-yes').text('Заявка отправлена');
                     
                        setTimeout(function(){$('.background-window').hide(0);$('.windiw-info-block').hide(0);$('.button-general.bt-yes').text('Отправить заявку');},2000);
                        
                            
                      
                    }
        });
      
   
});


$(function () {
    var now = new Date().getTime();
var minute_for_view = parseInt(now) - (41*3600*1000);
var mintime = new Date(minute_for_view);
var minny = mintime.getFullYear();
var minnm = mintime.getMonth();
var minnd = mintime.getDate();
var minnh = mintime.getHours();
var end_date = new Date(minny,minnm,minnd,minnh).getTime();


//var for_chart_views = new Date(minute_for_view)
//alert(for_chart_views);
    $('#container').highcharts({
        chart: {
            zoomType: 'x',
        },
        title: {
           text: false
        },
        subtitle: {
            text: false
        },
        xAxis: {
            type: 'datetime',
            minRange: 1 * 24 * 3600 // fourteen days
        },
        yAxis: {
            title: {
                text: false
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,

                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Просмотры',
            pointInterval: 60 * 60 * 1000,
            pointStart: end_date,
            data: {{for_chart_view}}
        }]
    });


$(function () {

    // Make monochrome colors and set them as default for all pies
    Highcharts.getOptions().plotOptions.pie.colors = (function () {
        var colors = [],
            base = Highcharts.getOptions().colors[0],
            i;

        for (i = 0; i < 10; i += 1) {
            // Start out with a darkened base color (negative brighten), and end
            // up with a much brighter color
            colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
        }
        return colors;
    }());

    // Build the chart
    $('#container2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: false
        },
        tooltip: {
            pointFormat: '{series.name}: {point.percentage:.1f}%'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || '#5b5b5b'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Посещения',
            data: [
                ['Instagram',   {{ pr_insta }}],
                ['Facebook',       {{ pr_fb }}],
                ['Youtube',    {{ pr_y }}],
                ['Vk.com',     {{ pr_vk }}],
                ['Odnoklassniki',   {{ pr_ok }}],
                ['Другие',   {{ pr_ot }}]
            ]
        }]
    });
});

});

});
</script>
{% endblock %}

{% block content %}

<div class="windiw-info-block">    
    <p>Заявка на снятие денег</p>
    <p class="text-for-window more-tr">
    Мы переведем на ваш счет <b>{% if get_money != '0' %}{{ get_money.money }}{% else %}0{% endif %} рублей.</b> Перед отправкой заявки проверьте ваши реквизиты на странице настроек - <a href="/sedit/">http://teleport.ink/sedit</a><br><br>

    После успешной обработки заявки, вам на <b>{{user.email}}</b> придет подтверждение.<br><br>
    Заявка будет обработана, при наличии суммы, готовой к снятию, более 500 рублей.

    </p>
  <div class="button-additional bt-no">Отмена</div>
    <div class="button-general bt-yes">Отправить заявку</div>

</div>

<div class="content-block">
<p class="title-block analytics-page">Статистика вашей страницы</p>
<a href="/{{user.username}}" class="page-user-link-for-analytics" target="_blank" >http://teleport.ink/{{user.username}}</a>


<div class="analytics-money-block">
    <div class="analytics-money-block-left">
        
        <p class="analytics-money-count">{% if get_money != '0' %}{{ get_money.money }}{% else %}0{% endif %}<span> руб.</span></p>
        <p class="analytics-text-about">Готовы к снятию</p> 
    </div>
    <div class="analytics-money-block-right">
        <div class="button-general get-money next-link click_money">Вывести деньги</div>
        <a href="/faq" class="next-link">FAQ по разделу</a>
    </div>
</div>

<div class="general-analytics-page">
    
    <div class="datepick-block">
        <div class="button-general datepick-block-bt">сегодня</div>
        <div class="button-general datepick-block-bt">За Неделю</div>
        <div class="button-general datepick-block-bt">За месяц</div>
        <div class="button-general datepick-block-bt active">всего</div>
    </div>
    <div class="revenue-block">
        <div class="revenue-block-left">
            <p>Общий доход:</p>
            <p>Product placement:</p>
            <p>Доход с кликов:</p><br>
            <p>Просмотров:</p>
            <p>Кликов:</p><br>
            <p>Подписчиков:</p>
        </div>
        <div class="revenue-block-right">
            <p>{{ income_all }}<span> руб.</span></p>
            <p>{{ income_pp }} <span> руб.</span></p>
            <p>{{ income_cpa }}<span> руб.</span></p><br>
            <p>{{ count_all_views }}</p>
            <p>{{ count_click_tag }}</p><br>
            <p>{{ count_subs }}</p>

        </div>
        
    </div>

    

    <div class="revenue-block background-color-title">
        <div class="revenue-block-left">
            <p class="title-revenue-block">Статистика</p>
        </div>
        <div class="revenue-block-right">
            <p class="title-revenue-block">просмотров</p>
        </div>
        
    </div>

</div>
<div id="container" class="charts-style-revenue"></div>
<div class="revenue-block  background-color-title">
        <div class="revenue-block-left">
            <p class="title-revenue-block">Источники </p>
            
        </div>
        <div class="revenue-block-right">
            <p class="title-revenue-block">посещений</p>
        </div>
        
    </div>
<div id="container2" class="charts-style-revenue"></div>




<div class="table-analytics-post" >
                <table >
                    <tr>
                        <td>
                            Фото/Видео
                        </td>
                        <td >
                            Просмотры
                        </td>
                        <td>
                            Клики
                        </td>
                        <td>
                            Доход
                        </td>
                    </tr>
                    {% for item in list_item %}
                    <tr>
                        <td class="align-center-yes">
                            <a href="/{{ item.id }}" target="_blank">{{ item.id }}</a>
                        </td>
                        <td>
                            <span>Всего: {{ item.all }} </span><br>
                            Vk.com: {{ item.vk }}<br>
                            Facebook: {{ item.facebook }}<br>
                            Youtube: {{ item.youtube }}<br>
                            Odnoklassniki: {{ item.odnoklass }}<br>
                            Instagram: {{ item.instagram }}<br>
                            Другие: {{ item.other }}<br>
                        </td>
                        <td class="align-center-yes">
                            {{ item.all_click }}
                        </td>
                        <td class="align-center-yes">
                            {{ item.income }} руб.
                        </td>
                    </tr>
                    {% endfor %}

                    
                </table>
            </div>    
</div>

<div class="footer"></div>
{% include 'panel.html' %}

{% endblock %}

























