<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=768"/>
    <title>{% block title %}Teleport{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="/media/styles/lp.css" rel="stylesheet" type="text/css">
    <script src="/media/scripts/jquery-1.11.0.min.js"></script>
    <script src="/media/scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/media/scripts/lp.js"></script>
</head>
<body>
{% block content %}{% endblock %}



<div class="wrap">

<!--Logo block-->
    <div class="logo-block">
        <div class="logo-block-let">
            <img src="/media/images/misc/logo.png">
            <p>New Product Placement</p>
        </div>
        <div class="logo-block-right">            
            <p>8 915 243 00 35<br>
                <span>Отдел по работе с клиентами</span>
            </p>
        </div>
    </div>

<!--Title block-->
    <div class="title-block">
        <h1>Новый способ повысить лояльность вашей<br>
            аудитории и увеличить доходы.</h1>
        <h2 id="flache">&nbsp;</h2>
    <!--Count block-->
        <div class="count-block">
            <div class="count-block-input">
                <div class="icon-social">            
                    <img src="/media/images/misc/facebook.png">
                    <img src="/media/images/misc/plus.png">
                    <img src="/media/images/misc/vk.png">
                    <img src="/media/images/misc/plus.png">
                    <img src="/media/images/misc/instagram.png">
                    <img src="/media/images/misc/plus.png">
                    <img src="/media/images/misc/youtube.png">
                </div>
                <input type="text" value="" id="sub"/>
                <h5 id="err">Ваших подписчиков</h5>
                
            </div>
            <div class="count-block-icon">
                <h3>дополнительно будут приносить</h3>
            </div>
            <h3> до <span id="count">8.1</span> млн. руб. в месяц</h3>
          <h5> И потребуют не более 5 часов вашего времени</h5><!-- 50 постов и 7 -->
        </div>
    </div>



<!--Form block-->
    <form method="POST" action="">
        <p>Чтобы узнать подробнее - отправьте заявку. Наши менеджеры все расскажут и ответят на ваши вопросы</p>
        <input type="text" placeholder="Имя">
        <input type="email" placeholder="email">
        <input type="phone" placeholder="Телефон">
        <a href="#" id="interest">Отправить заявку</a>
    </form>

<!--About block-->
    <div class="about-block-one">
    <h2>С помощью технологии Teleport ваши подписчики</h2>
        <ol>
            <li>Моментально узнают бренд и цену любой вещи на публикуемых вами фотографиях и видео.</li>
            <li>При желании смогут сразу купить понравившуюся одежду, аксессуар, предмет интерьера.</li>
        
        </ol>

    </div>

<!--About block-->
    <div class="about-block">
        <img src="/media/images/misc/lp/mobile.png">
        <h2>С помощью технологии Teleport ваши подписчики</h2>
        <ol>
            <li>Моментально узнают бренд и цену любой вещи на публикуемых вами фотографиях и видео.</li>
            <li>При желании смогут сразу купить понравившуюся одежду, аксессуар, предмет интерьера.</li>
            <li>Найдут ответы на все свои вопросы:<br>
                - Что это за бренд?<br>
                - Где посмотреть и купить это?<br>
                А такие вопросы, как мы видим, присутствуют почти под каждой публикацией. Мыслей же еще больше</li>
        </ol>
    </div>

<!--Work block-->
    <div class="work-block">
        <h2>Работаем с теми, кто производит контент.</h2>
        <p>Артисты Продюсерские центры Телеканалы Популярные блогеры</p>

        <h2>Работая с нами</h2>
        <p>Вы будете зарабатывать буквально на каждой вещи, которая присутствуют в контенте.<br>
            При этом для пользователей это будет удобно и естественно
        </p>

        <h3>Кроме этого</h3>
        <p>- Возможно выбирать продукцию из списка брендов для испольвания в ваших видео, фотографиях.<br>
        Список брендов и производителей постоянно пополняется.<br><br>

        - Реклама вашей собственной продукции бесплатна
        </p>
    </div>

<!--Form block-->
    <form method="POST" action="">
        <p>Чтобы узнать подробнее - отправьте заявку. Наши менеджеры все расскажут и ответят на ваши вопросы</p>
        <input type="text" placeholder="Имя">
        <input type="text" placeholder="email">
        <input type="text" placeholder="Телефон">
        <a href="#">Отправить заявку</a>
    </form>

<!--Footer block-->
   <div class="footer-block">
        <p>2014 | d@teleport.company| Moscow</p>
    </div>

</div>

</body>
</html>