{% extends 'index.html' %}

{% block scripts %}
<script src="/media/scripts/highcharts.js"></script>
<script src="/media/scripts/analytics.js"></script>
{% endblock %}

{% block content %}

<div class="content-block">

<p class="title-block faq">Teleport FAQ</p>
<div class="faq-block-preview prev"> 
    <p>FAQ содержит ответы на основные вопросы о Телепорте.</p>
</div>
<div class="faq-block-q">
<a href="#q1" class="faq-header-link">Основное</a><br>
<a href="#q2" class="faq-text-link">Что такое Teleport?</a><br>
<a href="#q3" class="faq-text-link">Как родилась идея?</a><br>
<a href="#q23" class="faq-text-link">Как все работает?</a><br>
<a href="#q4" class="faq-text-link">Насколько точно определяются вещи на фотографиях и видео?</a><br>
<a href="#q5" class="faq-text-link">Функция сохранения вещей</a><br>
<a href="#q6" class="faq-text-link">Функция подписки</a><br>
<a href="#q7" class="faq-text-link">Похожие образы</a><br>

<a href="#q8" class="faq-header-link">Для партнеров</a><br>
<a href="#q9" class="faq-text-link">Что дает статус партнер?</a><br>
<a href="#q10" class="faq-text-link">Сколько можно заработать?</a><br>
<a href="#q11" class="faq-text-link">Схема работы</a><br>
<a href="#q12" class="faq-text-link">Страница добавление контента</a><br>
<a href="#q13" class="faq-text-link">Где брать ссылки для публикации у себя на страницах?</a><br>
<a href="#q14" class="faq-text-link">Как эффективнее публиковать ссылки?</a><br>
<a href="#q15" class="faq-text-link">Как заработать больше и как сделать приятнее своей аудитории?</a><br>
<a href="#q16" class="faq-text-link">Основные настройки</a><br>
<a href="#q17" class="faq-text-link">Цена Product Placement</a><br>
<a href="#q18" class="faq-text-link">Email для отправки данных</a><br>
<a href="#q19" class="faq-text-link">Ссылка на ваш магазин</a><br>
<a href="#q20" class="faq-text-link">Выплаты</a><br>
<a href="#q21" class="faq-text-link">Аналитка</a><br>
<a href="#q22" class="faq-text-link">Помощь по любым вопросам</a><br>
</div>

<p id="q1" class="title-block faq">Основное</p>

<div class="faq-block-a">
<a href="#q2" id="q2" class="faq-block-a-answer"> Что такое Teleport?</a>
<p>Teleport это быстрый способ купить любую вещь из фотографии или видео. Нравятся часы героя из фильма? - пару секунд и вы узнаете бренд, цену и сможете их купить. Понравились джинсы из клипа? Шарф на фотографии instagram или vk? - за два клика вы узнаете все о них и также сможете приобрести.

Вообщем, получайте то, что вам нравится прямо во время просмотра видео и фотографий.</p>

<a href="#q3" id="q3" class="faq-block-a-answer"> Как родилась идея?</a>
<p>Нам и всем нравятся вещи, которые носят, используют в своей жизни другие люди. Порой красивые образы, необычные предметы интерьера которые мы видим, вызывают у нас интерес. И нам хочется такую же вещь, либо похожую. Как найти ее быстро и при желании купить? - ответ мы не могли найти. Вот и придумали Телепорт.</p>


<a href="#q23" id="q23" class="faq-block-a-answer">Как все работает?</a>
<p>Очень просто. Например, вы смотрите фотографию, в соц. сети.<br>
Возле фотографии видите ссылку <i>"http://teleport.ink/491"</i> - это означает, что доступна опция Teleport</p>

<img src="/media/images/misc/faqimg3.png"><br>

<p>Чтобы включить опцию - вам достаточно перейти по этой ссылке.<br>
Вы попадете на Телепорт, где вещи будут отмечены яркими метками</p>

<img src="/media/images/misc/faqimg5.png"><br>

<p>Нажав на метку вы окажетесь в магазине, где сможете все узнать и купить данную вещь.</p>


<a href="#q4" id="q4" class="faq-block-a-answer"> Насколько точно определяются вещи на фотографиях и видео?</a>
<p>Точность составляет 99,76%. Мы понимали, как важно предоставлять 100% верную информацию, поэтому после обработки фотографий -  ссылки на магазины проходят моддерацию.</p>

<a href="#q5" id="q5" class="faq-block-a-answer"> Функция сохранения вещей</a>
<p>Каждый раз, когда вы нажимаете на яркую метку, фотография сохраняется у вас на странице <i>http://teleport.ink/saved_tag</i>. Тем самым, сохраняется то, что вам потенциально интересно. С помощью этой функции, вы всегда сможете быстро найти то, что вас интересовало. Данная страница также доступна из основного меню:</p>


<img src="/media/images/misc/faqimg1.png"><br>

<a href="#q6" id="q6" class="faq-block-a-answer"> Функция подписки</a>
<p>Это стандартная, всеми известная функция "Подписаться". Все ваши подписки доступны из меню:</p>

<img src="/media/images/misc/faqimg2.png"><br>

<a href="#q7" id="q7" class="faq-block-a-answer"> Похожие образы</a>
<p>Teleport предоставляет ссылки на оригинальные вещи. Помимо этого, также добавляется информация, в каких магазинах можно приобрести похожую одежду или аксессуары (не оригинал). Для просмотра похожих вещей нажмите на кнопку «Образы», которая размещена под фотографией.</p>
<img src="/media/images/misc/faqimg6.png"><br>


<!--Для партнеров-->

<p id="q8" class="title-block faq">Для партнеров</p>

<a href="#q9" id="q9" class="faq-block-a-answer"> Что дает статус партнер?</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>


<a href="#q10" id="q10" class="faq-block-a-answer"> Сколько можно заработать?</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>



<a href="#q11" id="q11" class="faq-block-a-answer"> Схема работы</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>


<a href="#q12" id="q12" class="faq-block-a-answer"> Страница добавление контента</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>


<a href="#q13" id="q13" class="faq-block-a-answer"> Где брать ссылки для публикации у себя на страницах?</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>


<a href="#q14" id="q14" class="faq-block-a-answer"> Как эффективнее публиковать ссылки?</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>


<a href="#q15" id="q15" class="faq-block-a-answer"> Как заработать больше и как сделать приятнее своей аудитории?</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>


<a href="#q16" id="q16" class="faq-block-a-answer"> Основные настройки</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>

<a href="#q17" id="q17" class="faq-block-a-answer"> Цена Product Placement</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>

<a href="#q18" id="q18" class="faq-block-a-answer"> Email для отправки данных</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>

<a href="#q19" id="q19" class="faq-block-a-answer"> Ссылка на ваш магазин</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>

<a href="#q20" id="q20" class="faq-block-a-answer"> Выплаты</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>

<a href="#q21" id="q21" class="faq-block-a-answer"> Аналитка</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>

<a href="#q22" id="q22" class="faq-block-a-answer"> Помощь по любым вопросам</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>


</div>

</div>

<div class="footer"></div>
{% include 'panel.html' %}

{% endblock %}

























