{% extends 'index.html' %}

{% block scripts %}
<script src="/media/scripts/highcharts.js"></script>
<script src="/media/scripts/analytics.js"></script>
{% endblock %}

{% block content %}

<div class="content-block">

<p class="title-block faq">Teleport FAQ</p>
<div class="faq-block-preview prev"> 
    <p>FAQ содержит ответы на основные вопросы о Телепорте.</p>
</div>
<div class="faq-block-q">
<a href="#q1" class="faq-header-link">Основное</a><br>
<a href="#q2" class="faq-text-link">Что такое Teleport?</a><br>
<a href="#q3" class="faq-text-link">Как родилась идея?</a><br>
<a href="#q23" class="faq-text-link">Как все работает?</a><br>
<a href="#q4" class="faq-text-link">Насколько точно определяются вещи на фотографиях и видео?</a><br>
<a href="#q5" class="faq-text-link">Функция сохранения вещей</a><br>
<a href="#q6" class="faq-text-link">Функция подписки</a><br>
<a href="#q7" class="faq-text-link">Похожие образы</a><br>

{% if group == "partner"%}
<a href="#q8" class="faq-header-link">Для партнеров</a><br>
<a href="#q9" class="faq-text-link">Что дает статус партнер?</a><br>
<a href="#q10" class="faq-text-link">Сколько можно заработать?</a><br>
<a href="#q11" class="faq-text-link">Схема работы</a><br>
<a href="#q12" class="faq-text-link">Страница добавление контента</a><br>
<a href="#q13" class="faq-text-link">Где брать ссылки для публикации у себя на страницах?</a><br>
<a href="#q14" class="faq-text-link">Как эффективнее публиковать ссылки?</a><br>
<a href="#q15" class="faq-text-link">Как заработать больше и как сделать приятнее своей аудитории?</a><br>
<a href="#q16" class="faq-text-link">Основные настройки</a><br>
<a href="#q17" class="faq-text-link">Цена Product Placement</a><br>
<a href="#q18" class="faq-text-link">Email для отправки данных</a><br>
<a href="#q19" class="faq-text-link">Ссылка на ваш магазин</a><br>
<a href="#q20" class="faq-text-link">Выплаты</a><br>
<a href="#q21" class="faq-text-link">Аналитка</a><br>
<a href="#q22" class="faq-text-link">Помощь по любым вопросам</a><br>
{% endif %}

</div>

<p id="q1" class="title-block faq">Основное</p>

<div class="faq-block-a">
<a href="#q2" id="q2" class="faq-block-a-answer"> Что такое Teleport?</a>
<p>Teleport это быстрый способ купить любую вещь из фотографии или видео. Нравятся часы героя из фильма? - пару секунд и вы узнаете бренд, цену и сможете их купить. Понравились джинсы из клипа? Шарф на фотографии instagram или vk? - за два клика вы узнаете все о них и также сможете приобрести.

Вообщем, получайте то, что вам нравится прямо во время просмотра видео и фотографий.</p>

<a href="#q3" id="q3" class="faq-block-a-answer"> Как родилась идея?</a>
<p>Нам и всем нравятся вещи, которые носят, используют в своей жизни другие люди. Порой красивые образы, необычные предметы интерьера которые мы видим, вызывают у нас интерес. И нам хочется такую же вещь, либо похожую. Как найти ее быстро и при желании купить? - ответ мы не могли найти. Вот и придумали Телепорт.</p>


<a href="#q23" id="q23" class="faq-block-a-answer">Как все работает?</a>
<p>Очень просто. Например, вы смотрите фотографию, в соц. сети.<br>
Возле фотографии видите ссылку <i>"http://teleport.ink/491"</i> - это означает, что доступна опция Teleport</p>

<img src="/media/images/misc/faqimg3.png"><br>

<p>Чтобы включить опцию - вам достаточно перейти по этой ссылке.<br>
Вы попадете на Телепорт, где вещи будут отмечены яркими метками</p>

<img src="/media/images/misc/faqimg5.png"><br>

<p>Нажав на метку вы окажетесь в магазине, где сможете все узнать и купить данную вещь.</p>


<a href="#q4" id="q4" class="faq-block-a-answer"> Насколько точно определяются вещи на фотографиях и видео?</a>
<p>Точность составляет 99,76%. Мы понимали, как важно предоставлять 100% верную информацию, поэтому после обработки фотографий -  ссылки на магазины проходят моддерацию.</p>

<a href="#q5" id="q5" class="faq-block-a-answer"> Функция сохранения вещей</a>
<p>Каждый раз, когда вы нажимаете на яркую метку, фотография сохраняется у вас на странице <i>http://teleport.ink/saved_tag</i>. Тем самым, сохраняется то, что вам потенциально интересно. С помощью этой функции, вы всегда сможете быстро найти то, что вас интересовало. Данная страница также доступна из основного меню:</p>


<img src="/media/images/misc/faqimg1.png"><br>

<a href="#q6" id="q6" class="faq-block-a-answer"> Функция подписки</a>
<p>Это стандартная, всеми известная функция "Подписаться". Все ваши подписки доступны из меню:</p>

<img src="/media/images/misc/faqimg2.png"><br>

<a href="#q7" id="q7" class="faq-block-a-answer"> Похожие образы</a>
<p>Teleport предоставляет ссылки на оригинальные вещи. Помимо этого, также добавляется информация, в каких магазинах можно приобрести похожую одежду или аксессуары (не оригинал). Для просмотра похожих вещей нажмите на кнопку «Образы», которая размещена под фотографией.</p>
<img src="/media/images/misc/faqimg6.png"><br>

{% if group == "partner"%}
<!--Для партнеров-->

<p id="q8" class="title-block faq">Для партнеров</p>

<a href="#q9" id="q9" class="faq-block-a-answer"> Что дает статус партнер?</a>
<p>
Возможность зарабатывать буквально на каждой вещи изображенной на фотографии или видео, будь то одежда, ювелирные украшения или предметы интерьера.<br><br>
Возможность получать заказы на размещение скрытой рекламы (Product Placement) от более  чем  120 брендов.</p>


<a href="#q10" id="q10" class="faq-block-a-answer"> Сколько можно заработать?</a>
<p>Каждые 100.000 подписчиков в Teleport могут приносить вам ежемесячно до 1,5 млн. рублей. И это не считая заказов Product Placement.</p>



<a href="#q11" id="q11" class="faq-block-a-answer">Схема работы</a>
<p><i>Вариант один:</i><br><br>
<b>1.</b> Вы загружаете фотографии на Телепорт, которые желаете разместить в соц.сетях. Указываете названия брендов.<br><br>
<b>2.</b> Телепорт определят магазины, где можно купить оригиналы. Также создает наборы образов к данной фотографии.<br><br>
<b>3.</b> Вам приходит на email ссылка. Вы публикуете ее возле фотографии в соц.сетях.<br><br>
<i>Вариант два:</i><br><br>
<b>*</b> Подходит для партнеров, которые не владеют информацией о брендах, используемых в фотографиях и видео. Например, сайт фильмов, youtube канал клипов.<br><br>
<b>*</b> В данном варианте нет возможности для размщения скрытой рекламы (Product Placement).<br><br>
<b>1.</b> Телепорт сканирует все ваши страницы в соц. сетях.<br><br>
<b>2.</b> Загружает фотографии и создает наборы образов к вашим фотографиям.<br><br>
<b>3.</b> Вам приходит на email ссылка. Вы публикуете ее возле фотографии в соц.сетях.<br><br>
</p>


<a href="#q12" id="q12" class="faq-block-a-answer"> Страница добавления контента</a>
<p>Для добавления фотографии нажмите кнопку в виде "+" в главном меню.</p><br>
<img src="/media/images/misc/faqimg1.png"><br>
<p>Нажмите на фотографию в нужном месте. Появится метка и откроется окно. Введите название бренда, выбранной вещи и нажмите "Сохранить"</p><br>
<img src="/media/images/misc/faqimg1.png"><br>
<p>Используйте кнопку "На обработку", чтобы завершить процесс.</p><br>
<img src="/media/images/misc/faqimg1.png"><br>



<a href="#q13" id="q13" class="faq-block-a-answer"> Где брать ссылки для публикации у себя на страницах?</a>
<p>После обработки фотографий, телепорт высылает вам на email все ссылки.<br><br>
Также ссылки можно взять возле вашего контента. Нажав кнопку "..." <br><br>
<img src="/media/images/misc/faqimg1.png"><br>
Далее кликнув "Скопировать ссылку".<br><br>
<img src="/media/images/misc/faqimg1.png"><br>
</p>


<a href="#q14" id="q14" class="faq-block-a-answer"> Как эффективнее публиковать ссылки?</a>
<p>Размещайте фотографии в других социальных сетях вместе с полученной ссылкой <b>после того</b>, как сервис Teleport обработает вашу фотографию. <br/><br/>
Это позволит привлечь большее количество подписчиков и увеличить доходы, а подписчики в свою очередь получат возможность найти вещи и аксессуары на фотографиях в интернет-магазинах.<br><br>

<b>1. </b>Размещение ссылок в vk.com или Facebook:<br><br>
<img src="/media/images/misc/faqimg1.png"><br><br>

<b>2. </b>Размещение ссылок в Instagram:<br><br>
В instagram можно указывать любые ссылки только в момент размещения фотографии, в последующем, редактирование ссылок не допускается. Для наиболее полного охвата аудитории и получение большей прибыли со своей страницы в Teleport, рекомендуем размещать фотографии в instagram после получения персональной ссылки в Teleport. <br><br>

Т.е, размещайте фотографии сначала на своей странице в Teleport, после обработки фотографии, вы получите уникальную ссылку, которую затем сможете указать в instagram в описании. <br><br>
<img src="/media/images/misc/faqimg1.png"><br><br>
Также вы можете указать в описании на своей странице в instagram ссылку на ваш профиль в сервисе Teleport. Это тоже позволит повысить количество ваших подписчиков в Teleport и увеличить заработок, но за более длительный срок, чем в первом случае.<br><br>


<b>3. </b>Размещение ссылок в Youtube:<br><br>
<img src="/media/images/misc/faqimg1.png"><br><br>
Teleport позволяет анализировать ваш видеоконтент и указывать подписчикам, где они могут приобрести те или иные вещи, которые присутствуют в видео.<br/><br/>

Для этого достаточно в описании видео указывать ссылки. Также в конце видео рекомендуем делать аннотацию с ссылкой.
</p>


<a href="#q15" id="q15" class="faq-block-a-answer"> Как заработать больше и как сделать приятнее своей аудитории?</a>
<p>Ваш доход в Teleport напрямую зависит от <b>количества подписчиков</b>. Чем больше подписчиков просматривают фотографии и нажимают на вещи, тем больше денег получаете вы. Увеличивая количество подписчиков в Teleport, вы повышаете уровень своих доходов, а так же получаете заказы на product placement (скрытую рекламу) от рекламодателей.<br><br>

Итак, <b>чтобы увеличивать доход - включайте опцию Телепорт(публикуйте ссылки возле вашего контента в соц.сетях)</b>.
Хорошим вариантом будет ссылка возле каждой фотографии. Кроме большего дохода, это принесет удобство вашим подписчикам. Теперь при желании за пару секунд они смогут узнать, что за вещи вас окружают и где купить их.<br><br>

Также рекомендуем публиковать ссылку вашей страницы <i>http://teleport.ink/yourname</i>. Скопировать ее можно на странице настроек.<br><br>
<img src="/media/images/misc/faqimg1.png"><br>

</p>


<a href="#q16" id="q16" class="faq-block-a-answer"> Основные настройки</a>
<p>Этот FAQ содержит ответы на основные вопросы о телеграмме.
Ознакомьтесь с Advanced справку для получения дополнительной технической Infomation.</p>

<a href="#q17" id="q17" class="faq-block-a-answer"> Цена Product Placement</a>
<p>Цену за Product Placement каждый партнер регулирует самостоятельно. Регулировать цену можно в настройках.</p>

<a href="#q18" id="q18" class="faq-block-a-answer"> Email для отправки данных</a>
<p>В настройках вы всегда можете указать email, куда Teleport будет отправлять ссылки для публикации</p>

<a href="#q19" id="q19" class="faq-block-a-answer"> Ссылка на ваш магазин</a>
<p>Если у вас есть свой интерент-магазин - укажите его ссылку в настройках. Это позволит Teleport использовать его товар, при анализе данных.</p>

<a href="#q20" id="q20" class="faq-block-a-answer"> Выплаты</a>
<p>Выплаты возможны, только при наличии положительного баланса. Выплаты производятся в последний четверг месяца. Заказать деньги можно на странице http://teleport.ink/analytics</p>

<a href="#q21" id="q21" class="faq-block-a-answer"> Аналитка</a>
<p>На странице http://teleport.ink/analytics доступна аналитика, как по каждой фотографии, так и общие данные. Количество кликов. Доход. Просмотры. </p>

<a href="#q22" id="q22" class="faq-block-a-answer"> Помощь по любым вопросам</a>
<p>Если будут вопросы и предложения - будем рады видеть их на hi@teleport.ink</p>

{% endif %}
</div>

</div>

<div class="footer"></div>


{% endblock %}

























