{% extends 'base.html' %}
{% load i18n %}
{% block scripts %}
<!--<script src="/media/scripts/login.js"></script>-->
{% endblock %}

{% block content %}
<div class="all-elements">
{% include 'panel.html' %}

    <div id="content" class="page-content">
    	<div class="page-header">
        	<a href="#" class="deploy-sidebar"></a>
            <div class="logo-top"><img src="/media/images/misc/logo.png"/></div>            
        </div>
        <div class="content-all">
        <p class="title">ВОЙДИТЕ ЧЕРЕЗ</p>
        <div class="login-social-section">
                    <a href="index.html" class="login-social-button facebook-login">FACEBOOK</a>
                    <a href="index.html" class="login-social-button vk-login">VK</a>
                    <a href="index.html" class="login-social-button google-login">GOOGLE</a>
                </div>



        <article class="login-form">  

            <p class="title-two">ИЛИ</p>
                

                
                <div>
                     
                        <div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                            <div class="big-notification green-notification">
                                <h3 class="uppercase">Отлично, теперь вы с нами </h3>
                                <a href="#" class="close-big-notification">x</a>
                                <p>Вас перенапавит сейчас...</p>
                            </div>
                        </div>

                    
                        <form action="/auth/login/" method="POST">
                                    {% if login_error %}
                                    <div class="static-notification-red tap-dismiss-notification">
                                    <p class="center-text uppercase">{{ login_error }}</p>
                                    </div>
                                    {% endif %}
                                
                                 
                                    <label class="field-title contactEmailField">Email или usern: <span>(обязательно)</span></label>
                                    <input type="text" name="email" id="email" value="" class="contactField" />

                                     <label class="field-title contactEmailField" for="contactEmailField">Пароль: <span>(обязательно)</span></label>
                                    <input type="password" name="password" id="password" value="" class="contactField" /> 
                                    <input value="войти" type="submit"  class="buttonWrap button button-dark contactSubmitButton"/>
                                                                       
                            
                        </form>      
                        <a class="under-the-form" href="reset_pass.html">Забыли пароль?</a>
                        <a class="under-the-form" href="/auth/register/">Регистрация</a> 
                    
                </div>
               
            
            </article>
            

        </div>           
    </div>                 
</div>

{% endblock %}