{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}


{% block content %}

<div class="windiw-info-block processing rules">    
    <p>Отправлено на обработку</p>
    <p class="text-for-window more-tr processing">
        Фотографии отправлены на обработку.<br>
        Teleport определит где можуно купить отмеченные вещи.<br><br>


        Затем отправит вам на <b>{{ user.email }}</b> ссылку для публикции



    </p>
    <a href="#" class="button-general bt-ok-rules">ok</a>
</div>


<div class="background-index">
<div class="background-index-center">
	


<div class="background-index-right page-block-left-partner">
<div class="content-block">

<p class="title-block">Подайте заявку на подключение <br> в качестве партнера</p>
<div class="settings-input">
	
	


	<label>Ссылка на вашу страницу в любой социальной сети, либо сайт*</label>
	<input type="text" placeholder="http://"/>

	<label>Контактный телефон*</label>
	<input type="text" placeholder="+7 (910) 123 45 67" />

	<label>Email*</label>
	<input type="text" placeholder="example@gmail.com"/>

	
	
	
	
	
	

	

	</div>
	</div>
</div>

<div class="background-index-right">
<div class="content-block">


<div class="settings-input">
	
	



	<label>Имя*</label>
	<input type="text" placeholder="Введите имя" />

	<label>Где узнали о Teleport?</label>
	<select>
	    <option ></option>
	    <option >Рассказали знакомые</option>
	    <option >Вы сами связались с нами</option>
	    <option disabled>Увидели в</option>
		<option >Vk.com</option>
		<option >Youtube</option>
		<option >Facebook</option>
		<option >Odnoklassniki</option>
		<option >Instagram</option>
		<option >Другое</option>
	</select>
	
	<div class="bt-settings">Подать заявку</div>
	
	<p class="text-agreement">Подавая заявку вы соглашаетесь на создание аккаунта, тем самым принимаете <a href="#" class="goods-rules">Условия предоставления услуг</a> и <a href="#" class="politic-rules">Политику конфиденциальности</a> Teleport. </p>
	
	

	

	</div>
	</div>
</div>




<div class ="about-teleport ">
	<p class="title-block index-page">Станьте ближе к своей аудитории</p>
	<p class="phone-block"><br>
        Ваша аудитория в социальных сетях более 100 тыс. пользователей? - Отлично!<br>
        Подайте заявку и станьте нашим партнером. Teleport откроет новые возможности для вашей аудитории и бизнеса. После рассмотрения заявки - мы предоставим вам личного менеджера. Он свяжется с вами.
        Расскажет, как быстро подключить Телепорт и получать результаты.

	</p>
     <p class="last-about"></p>


</div>
<div class="applink">
	<a href="/accounts/signup/">О Teleport</a>
</div>

</div>
</div>




{% endblock %}