{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
	

	$(document).on('click','.bt-settings.yes-lead', function(){

	input_link = String($('input[name=link]').val())
	input_email = String($('input[name=email]').val())
	input_phone = String($('input[name=phone]').val())
	input_name = String($('input[name=namename]').val())
	select_where = String($('option:selected').val())

	if (input_link.length>0 && input_email.length>0 && input_phone.length>0 && input_name.length>0 && select_where.length>0 ){
		 $.ajax({
                    url: "/send_lead/",
                    type: "POST",
                    dataType:"html",
                    data: {
                        "link": input_link,
                        "email": input_email,
                        "phone": input_phone,
                        "name": input_name,
                        "where": select_where,
                                            },
                    error: function(data) {
                        alert('Ошибка получения запроса');
                    },

                    success: function(data) {

                        $('.title-block:first').html('Заявка отправлена.<br> Мы свяжемся с вами').css('color','green');
						setTimeout(function(){$('.title-block:first').html('Подайте заявку на подключение <br> в качестве партнера').css('color','#161616');},5000);
                        
                            
                      
                    }
        });


	}
	else {
		$('.title-block:first').text('Заполните все поля!').css('color','red');
		setTimeout(function(){$('.title-block:first').html('Подайте заявку на подключение <br> в качестве партнера').css('color','#161616');},2000);
	}


	});


	

</script>


{% endblock %}

{% block content %}

<div class="windiw-info-block">    
    <p style="color:red">Заполните все поля</p>
    
  

</div>

<div class="background-index">
<div class="background-index-center">
	


<div class="background-index-right page-block-left-partner">
<div class="content-block">

<p class="title-block">Подайте заявку на подключение <br> в качестве партнера</p>
<div class="settings-input">
	
	


	<label>Ссылка на вашу страницу в любой социальной сети, либо сайт*</label>
	<input type="text" name="link" placeholder="http://"/>

	<label>Контактный телефон*</label>
	<input type="text" name="phone" placeholder="+7 (910) 123 45 67" />

	<label>Email*</label>
	<input type="email" name="email" placeholder="example@gmail.com"/>
	

	

	</div>
	</div>
</div>

<div class="background-index-right">
<div class="content-block">


<div class="settings-input">
	
	



	<label>Имя*</label>
	<input type="text" name="namename" placeholder="Введите имя" />

	<label>Где узнали о Teleport?</label>
	<select>
	    <option ></option>
	    <option >Рассказали знакомые</option>
	    <option >Вы сами связались с нами</option>
	    <option disabled>Увидели в</option>
		<option >Vk.com</option>
		<option >Youtube</option>
		<option >Facebook</option>
		<option >Odnoklassniki</option>
		<option >Instagram</option>
		<option >Другое</option>
	</select>
	
	<div class="bt-settings yes-lead">Подать заявку</div>
	
	<p class="text-agreement">Подавая заявку вы соглашаетесь на создание аккаунта, тем самым принимаете <!--<a href="#" class="goods-rules">-->Условия предоставления услуг<!--</a>--> и <!--<a href="#" class="politic-rules">-->Политику конфиденциальности<!--</a>--> Teleport. </p>
	
	

	

	</div>
	</div>
</div>




<div class ="about-teleport ">
	<p class="title-block index-page">Станьте ближе к своей аудитории</p>
	<p class="phone-block"><br>
        Ваша аудитория в социальных сетях более 100 тыс. пользователей? - Отлично!<br>
        Подайте заявку и станьте нашим партнером. Teleport откроет новые возможности для вашей аудитории и бизнеса. После рассмотрения заявки - мы предоставим вам личного менеджера. Он свяжется с вами.
        Расскажет, как быстро подключить Телепорт и получать результаты.

	</p>
     <p class="last-about"></p>


</div>
<div class="applink">
	<a href="/accounts/signup/">О Teleport</a>
</div>

</div>
</div>




{% endblock %}